# Build files
.astro/
dist/

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.*
!.env.example

# IDE & OS specific files
.DS_Store
.vscode/
.idea/

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional cache directories
.npm
.eslintcache

# Output of 'npm pack'
*.tgz