:root {
	/* discord recolor (uses rgb) */
    --settingsicons:		1;				        /*	Use Settings Icons in User Settings: 1 = yes, 0 = no						*/
	--font:				"gg sans", "Noto Sans";		/*	General Font												                */

	--accentcolor: 			88,101,242;			    /*	Blurple			    -	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		255,115,250;			/*	Boostpink		    -	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			0,176,244;			    /*	Link Color		    -	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		250,166,26;			    /*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		59,165,92;			    /*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		250,166,26;			    /*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		237,66,69;			    /*	Danger Color		-	default:	237,66,69		-	hex:	#ed4245		*/

	--textbrightest: 		255,255,255;			/*	Text Color 1		-	default:	255,255,255		-	hex:	#ffffff		*/
	--textbrighter: 		222,222,222;			/*	Text Color 2		-	default:	220,221,222		-	hex:	#dcddde		*/
	--textbright: 			185,185,185;			/*	Text Color 3		-	default:	185,187,190		-	hex:	#b9bbbe		*/
	--textdark: 			140,140,140;			/*	Text Color 4		-	default:	142,146,151		-	hex:	#8e9297		*/
	--textdarker: 			115,115,115;			/*	Text Color 5		-	default:	114,118,125		-	hex:	#72767d		*/
	--textdarkest: 			80,80,80;			    /*	Text Color 6		-	default:	79,84,92		-	hex:	#4f545c		*/

	--backgroundaccent: 		47, 49, 70;			/*	Chat bar        	-	default:	64,68,75		-	hex:	#40444b		*/
	--backgroundprimary: 		41, 43, 61;			/*	Main Background		-	default:	54,57,63		-	hex:	#36393f		*/
	--backgroundsecondary: 		36, 37, 53;			/*	Channels, Users		-	default:	47,49,54		-	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	29, 30, 43;			/*	User Profile Area   -	default:	41,43,47		-	hex:	#292b2f		*/
	--backgroundtertiary: 		24, 26, 36;			/*	Servers, Titlebar	-	default:	32,34,37		-	hex:	#202225		*/
	--backgroundfloating: 		14, 14, 20;			/*	Inner User Profile 	-	default:	24,25,28		-	hex:	#18191c		*/
}
/* discord recolor - by DevilBro */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* radial status - by Gibbu */
@import url(https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.theme.css);


/* move channel actions to title bar, todo: get this to work in browser - by dablulite */
/* @import url(https://dablulite.github.io/css-snippets/DeclutterBar/import.css); */

/* make funny site changing videos possible again - by kyuuhachi */
.attachmentContentItem_ef9fc2 { width: unset !important; height: unset !important; }
.loadingOverlay__4d818 { aspect-ratio: unset !important }

/* hide unread message bar until hovered - by refact0r */
.messagesWrapper_ea2b0b {
    overflow: hidden;
}
.newMessagesBar__8b6d7 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.newMessagesBar__8b6d7::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}
.newMessagesBar__8b6d7:hover {
    top: -12px;
}

/* silly animations - by refact0r */
button.button__4f306 /* make user panel buttons round */ {
    border-radius: 50%;
}
.button__4f306:last-child /* rotating settings button */,
.attachButton_b1db83 .attachButtonInner__3ce2b /* rotating upload button */,
.emojiButton__30ec7 .contents_fb6220 /* rotating emoji button */,
.closeButton__34341 /* rotating settings exit button */ {
    transition: transform 1s ease;
}
.button__4f306:last-child:hover,
.attachButton_b1db83:hover .attachButtonInner__3ce2b,
.emojiButton__30ec7:hover .contents_fb6220,
.closeButton__34341:hover {
    transform: rotate(360deg);
}
.wrapper__7bcde .link__95dc0 /* channels */,
.container__4f20e /* members */,
.channel_c21703 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__7bcde:hover .link__95dc0,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 6px;
}
.container__4f20e:hover,
.channel_c21703:hover {
    margin-left: 14px;
}

/* better profile borders - by dablulite & tom22k */
.userProfileModalOverlayBackground__52d65::before,
.overlayBackground__86b78::before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(to bottom, var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color)),var(--background-secondary-alt);
}
.userProfileModalOverlayBackground__52d65::after,
.overlayBackground__86b78::after {
    content: "";
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background: var(--profile-gradient-overlay-color);
}
.userProfileModalOverlayBackground__52d65,
.overlayBackground__86b78 {
    overflow: visible;
}
.userProfileModalOverlayBackground__52d65 .body-1Ukv50,
.overlayBackground__86b78 > :is(.section__6f61e,.scroller__83262,#account) {
    z-index: 3;
    background-color: var(--profile-body-background-color);
}
.overlayBackground__86b78 .divider_ed0c1d {
    display: none;
}
.overlayBackground__86b78 .scroller__83262:not(:has(~#account)),
.overlayBackground__86b78 #account {
    border-radius: 0 0 8px 8px;
}
.overlayBackground__86b78 .usernameSection__53868 {
    border-radius: 8px 8px 0 0;
}
.userProfileOuter__46bb7 {
    padding: 0 !important;
}
.userProfileModalInner__7c87d:before,
.userPopoutInner_f545a3:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.avatarPositionPremiumBanner__1e83d {
    top: 72px;
}
.userPopoutOuter_d739b2.userProfileOuterThemed__6eb84 .avatarWrapper_f77579 {
    left: 18px;
}