@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

:root {
	/* ## Colors ## */
	/* Slate */
	--slate-5: hsl(228, 20%, 5%);
	--slate-10: hsl(234, 20%, 10%);
	--slate-17: hsl(234, 20%, 17%);
	--slate-20: hsl(234, 20%, 20%);
	--slate-30: hsl(234, 20%, 30%);
	--slate-40: hsl(234, 20%, 40%);
	--slate-50: hsl(234, 20%, 50%);
	--slate-60: hsl(234, 20%, 60%);
	--slate-70: hsl(234, 20%, 70%);
	--slate-80: hsl(234, 20%, 80%);
	--slate-90: hsl(234, 20%, 90%);

	/* Gray */
	--gray-10: hsl(258, 7%, 10%);
	--gray-20: hsl(258, 7%, 20%);
	--gray-30: hsl(258, 7%, 30%);
	--gray-40: hsl(258, 7%, 40%);
	--gray-50: hsl(258, 7%, 50%);
	--gray-60: hsl(258, 7%, 60%);
	--gray-70: hsl(258, 7%, 70%);
	--gray-80: hsl(258, 7%, 80%);
	--gray-90: hsl(258, 7%, 90%);



	/* Cyan */
	--cyan-10: hsl(188, 86%, 10%);
	--cyan-20: hsl(188, 86%, 20%);
	--cyan-30: hsl(188, 86%, 30%);
	--cyan-40: hsl(188, 86%, 40%);
	--cyan-50: hsl(188, 86%, 50%);
	--cyan-60: hsl(188, 86%, 60%);
	--cyan-70: hsl(188, 86%, 70%);
	--cyan-80: hsl(188, 86%, 80%);
	--cyan-90: hsl(188, 86%, 90%);

	/* Pinks */
	/* --lavender-50: #fdf4ff; */
	--lavender-100: #fae8ff;
	--lavender-200: #f5d0fe;
	--lavender-300: #f0abfc;
	--lavender-400: #FB94FF;
	--lavender-500: #e879f9;
	--lavender-600: #d946ef;
	--lavender-700: #c026d3;
	--lavender-800: #a21caf;
	--lavender-900: #86198f;
	--lavender-950: #701a75;

	--lavender-10: hsl(298, 100%, 10%);
	--lavender-20: hsl(298, 100%, 20%);
	--lavender-30: hsl(298, 100%, 30%);
	--lavender-40: hsl(298, 100%, 40%);
	--lavender-50: hsl(298, 100%, 50%);
	--lavender-60: hsl(298, 100%, 60%);
	--lavender-70: hsl(298, 100%, 70%);
	--lavender-80: hsl(298, 100%, 80%);
	--lavender-90: hsl(298, 100%, 90%);
	--lavender-100: hsl(298, 100%, 100%);

	/* Gradients */
	--gradient-ps: linear-gradient(90deg, var(--cyan-50), var(--lavender-80));

	/* ## Settings ## */
	/* Text */
	--text-font: system-ui, sans-serif;
	--text-color: var(--slate-90);

	/* Links */
	--link-color: var(--cyan-50);

	/* Code */
	--code-font: 'JetBrains Mono', monospace;
	--code-color: var(--text-color);
	--code-background: var(--slate-30);

	/* Sidebar */
	--sidebar-width: 140px;
}

body {
	margin: 0 auto;
	background-color: var(--slate-20);
	font-family: var(--text-font);
	color: var(--text-color);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--slate-10);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--slate-5);
}

::-webkit-scrollbar-track {
	background-color: var(--slate-20);
}


/* Text & Main Content */
.text-gradient {
	background-image: var(--gradient-ps);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.center {
	text-align: center;
}

.title {
	width: 100%;
	background-size: cover;
	padding: 3rem 0 0 0;
}

.title h1 {
	margin: 0 0 1rem 0;
	font-size: 4rem;
	font-weight: 700;
	line-height: 56px;
}

.title p {
	font-size: 26px;
	margin: 0;
}


main {
	line-height: 1.6;
	max-width: 950px;
	margin: auto;
	padding: 0 1.5rem;
}

main p {
	margin: 0 0 0.8rem 0;
	font-size: 1.2rem;
}

main h2,
main h3 {
	font-weight: 600;
	margin: 2rem 0 0.8rem 0;
}

main h2 {
	font-size: 2.3rem;
}

main h3 {
	font-size: 1.7rem;
}

hr {
	border: 0;
	height: 0.1px;
	width: 98%;
	background: var(--text-color);
	opacity: 0.2;
	margin: 2rem auto;
}

/* Links */
a {
	color: var(--link-color);
}

a:hover,
a:active {
	text-decoration: none;
}

/* Code */
code,
.code {
	font-family: var(--code-font);
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 0.25rem;
}