:root {
	/* Main Colors */
	--turquoise: #04C7FF;
	--lavender: #FB94FF;

	--background: #292b3d;
	--background-darker: #232534;
	--background-lighter: #5c6089;


	--gradient-ps: linear-gradient(90deg, var(--turquoise), var(--lavender));
	--gradient-pa: linear-gradient(90deg, var(--turquoise), var(--background-lighter));

	/* Links */
	--link-color: var(--turquoise);

	/* Text */
	--text-font: system-ui, sans-serif;
	--text-color: #fff;

	/* Code */
	--code-font: Jetbrains Mono, monospace;
	--code-color: #fff;
	--code-background: #232534;
}

html {
	background: var(--background);
}

body {
	display: flex;
	margin: 0;
	font-family: var(--text-font);
	color: var(--text-color);
}

/* Text */
.text-gradient {
	background-image: var(--gradient-ps);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Links */
a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

/* Code */
code,
.code {
	font-family: var(--code-font);
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 0.25rem;
}

/* Other */
.center {
	text-align: center;
}

hr {
	border: 0;
	height: 0.1px;
	width: 98%;
	background: var(--text-color);
	opacity: 0.2;
}