@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap');

:root {
	/* ## Colors ## */
	/* Slate */
	--slate-50: #BBBCDA;
	--slate-100: #8A8DBF;
	--slate-200: #505372;
	--slate-300: #3A3D55;
	--slate-400: #33354B;
	--slate-500: #292b3d;
	--slate-600: #252737;
	--slate-700: #1F212D;
	--slate-800: #181A23;
	--slate-900: #12131D;
	--slate-950: #0c0c17;

	/* Cyan */
	--cyan-50: #ecfeff;
	--cyan-100: #cffafe;
	--cyan-200: #a5f3fc;
	--cyan-300: #67e8f9;
	--cyan-400: #22d3ee;
	--cyan-500: #06b6d4;
	--cyan-600: #0891b2;
	--cyan-700: #0e7490;
	--cyan-800: #155e75;
	--cyan-900: #164e63;
	--cyan-950: #083344;

	/* Pinks */
	--lavender-50: #fdf4ff;
	--lavender-100: #fae8ff;
	--lavender-200: #f5d0fe;
	--lavender-300: #f0abfc;
	--lavender-400: #FB94FF;
	--lavender-500: #e879f9;
	--lavender-600: #d946ef;
	--lavender-700: #c026d3;
	--lavender-800: #a21caf;
	--lavender-900: #86198f;
	--lavender-950: #701a75;


	/* Gradients */
	--gradient-ps: linear-gradient(90deg, var(--cyan-500), var(--lavender-400));
	--gradient-pa: linear-gradient(90deg, var(--cyan-500), var(--slate-400));

	/* ## Settings ## */
	/* Text */
	--text-font: system-ui, sans-serif;
	--text-color: white;

	/* Links */
	--link-color: var(--cyan-500);

	/* Code */
	--code-font: 'JetBrains Mono', monospace;
	--code-color: var(--text-color);
	--code-background: var(--slate-700);

	/* Sidebar */
	--sidebar-width: 140px;
}

body {
	margin: 0 auto;
	background-color: var(--slate-500);
	font-family: var(--text-font);
	color: var(--text-color);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--slate-950);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--slate-700);
}

::-webkit-scrollbar-track {
	background-color: var(--slate-500);
}


/* Text & Main Content */
.text-gradient {
	background-image: var(--gradient-ps);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.center {
	text-align: center;
}

.title {
	width: 100%;
	background-size: cover;
	padding: 3rem 0 0 0;
}

.title h1 {
	margin: 0 0 1rem 0;
	font-size: 4rem;
	font-weight: 700;
	line-height: 56px;
}

.title p {
	font-size: 26px;
	margin: 0;
}


main {
	line-height: 1.6;
	max-width: 950px;
	margin: auto;
	padding: 0 1.5rem;
}

main p {
	margin: 0 0 0.8rem 0;
	font-size: 1.2rem;
}

main h2,
main h3 {
	font-weight: 600;
	margin: 2rem 0 0.8rem 0;
}

main h2 {
	font-size: 2.3rem;
}

main h3 {
	font-size: 1.7rem;
}

hr {
	border: 0;
	height: 0.1px;
	width: 98%;
	background: var(--text-color);
	opacity: 0.2;
	margin: 2rem auto;
}

/* Links */
a {
	color: var(--link-color);
}

a:hover,
a:active {
	text-decoration: none;
}

/* Code */
code,
.code {
	font-family: var(--code-font);
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 0.25rem;
}