:root {
	/* ## Colors ## */
	/* Slate */
	--slate-50: #BBBCDA;
	--slate-100: #8A8DBF;
	--slate-200: #505372;
	--slate-300: #3A3D55;
	--slate-400: #33354B;
	--slate-500: #292b3d;
	--slate-600: #252737;
	--slate-700: #1F212D;
	--slate-800: #181A23;
	--slate-900: #12131D;
	--slate-950: #0c0c17;

	/* --slate-50:  rgb(248 250 252);
	--slate-100: rgb(241 245 249);
	--slate-200: rgb(226 232 240);
	--slate-300: rgb(203 213 225);
	--slate-400: rgb(148 163 184);
	--slate-500: rgb(100 116 139);
	--slate-600: rgb(71 85 105);
	--slate-700: rgb(51 65 85);
	--slate-800: rgb(30 41 59);
	--slate-900: rgb(15 23 42);
	--slate-950: rgb(2 6 23); */

	/* Cyan */
	--cyan-50: #ecfeff;
	--cyan-100: #cffafe;
	--cyan-200: #a5f3fc;
	--cyan-300: #67e8f9;
	--cyan-400: #22d3ee;
	--cyan-500: #06b6d4;
	--cyan-600: #0891b2;
	--cyan-700: #0e7490;
	--cyan-800: #155e75;
	--cyan-900: #164e63;
	--cyan-950: #083344;

	/* Pinks */
	--pink-400: #FB94FF;

	--gradient-ps: linear-gradient(90deg, var(--cyan-500), var(--pink-400));
	--gradient-pa: linear-gradient(90deg, var(--cyan-500), var(--slate-400));


	/* ## Settings ## */
	/* Text */
	--text-font: system-ui, sans-serif;
	--text-color: white;

	/* Links */
	--link-color: var(--cyan-500);

	/* Code */
	--code-font: Jetbrains Mono, monospace;
	--code-color: var(--text-color);
	--code-background: var(--slate-700);
}

html {
	background: var(--slate-500);
}

body {
	display: flex;
	margin: 0;
	font-family: var(--text-font);
	color: var(--text-color);
}

/* Text */
.text-gradient {
	background-image: var(--gradient-ps);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.center {
	text-align: center;
}

hr {
	border: 0;
	height: 0.1px;
	width: 98%;
	background: var(--text-color);
	opacity: 0.2;
}

/* Links */
a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

/* Code */
code,
.code {
	font-family: var(--code-font);
	color: var(--code-color);
	background: var(--code-background);
	border-radius: 0.25rem;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--slate-950);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--slate-700);
}

::-webkit-scrollbar-track {
	background-color: var(--slate-500);
}