---
import '../styles/global.css';
import T_svg from '../../public/favicon_T.svg';
let currentPath = Astro.url.pathname;
---

<main class="center">
	<a href="/"><img src={T_svg.src} width="360" height="360" /></a>
	<h1><span class="text-gradient">404:</span> Not found</h1>
	<!-- <pre>Path: {currentPath}</pre> -->
</main>

<style>
	body {
		background-color: var(--gray-10);
		color: var(--gray-80);
		line-height: 1.5;
		margin: 0;
	}

	.center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	h1 {
		color: white;
		font-family: var(--text-font);
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	pre,
	code {
		padding: 2px 8px;
		background: rgba(0, 0, 0, 0.25);
		border: 1px solid rgba(255, 255, 255, 0.25);
		border-radius: 4px;
		font-size: 1.2em;
		margin-top: 0;
		max-width: 60em;
	}
</style>
