---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<main>
		<section id="title" class="title center">
			<h1>Contact</h1>
		</section>
	</main>
</Layout>

<style>
	.title {
		width: 100%;
		background-size: cover;
		margin: 2rem 0 2.5rem 0;
	}

	.title h1 {
		margin: 4rem 0 0 0;
		font-size: 4rem;
		font-weight: 700;
		line-height: 56px;
	}

	.title p {
		font-size: 26px;
	}

	main {
		line-height: 1.6;
		margin: auto;
		width: 45rem;
		padding: 0 1.5rem;
	}

	main h2 {
		font-size: 2.3rem;
		font-weight: 600;
		margin: 0 0 0.8rem 0;
	}
</style>
