---
import Card from '../components/Card.astro';
import Layout from '../layouts/MainLayout.astro';

let placeholder = 'https://via.placeholder.com/350x220';
---

<Layout title="Experiments">
	<main>
		<section id="title" class="title">
			<h1>My <span class="text-gradient">Experiments</span></h1>
			<p>
				Here are some of the things I've been working on. I'm always trying to learn new things and experiment with new technologies.
			</p>
		</section>

		<div class="articles">
			<Card title="Coming soon" sub="Work in progress" image={placeholder} />
			<Card title="Coming soon" sub="Work in progress" image={placeholder} />
			<Card title="Coming soon" sub="Work in progress" image={placeholder} />
		</div>
	</main>
</Layout>

<style>
	main {
		line-height: 1.6;
		max-width: 950px;
		margin: auto;
		padding: 0 1.5rem;
	}

	.title {
		text-align: center;
		width: 100%;
		background-size: cover;
		padding: 3rem 0 0 0;
	}

	.title h1 {
		margin: 0 0 1rem 0;
		font-size: 4rem;
		font-weight: 700;
		line-height: 56px;
	}

	.articles {
		margin-top: 5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
</style>
