---
import Layout from '../layouts/Layout.astro';
---

<script>
	import { typeEffect } from '../lib/main.js';
	typeEffect();
</script>

<Layout title="Hi, I'm Tim">
	<main>
		<section id="hero" class="hero">
			<div class="center">
				<h1>Hi, I'm <span class="text-gradient">Tim</span></h1>
				<p>I like <span class="typed text-gradient" data-typed-items="coding,gaming,movies,music"></span></p>
			</div>
		</section>

		<section id="about" class="about">
			<h2>Who am I?</h2>
			<p><code>console.log("Lorem ipsum");</code></p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, modi nulla? Ut aperiam fugiat, sunt libero necessitatibus non enim, aut culpa pariatur excepturi, harum
				<a href="javascript:void(0)" aria-label="This serves as an example link">facilis</a> corporis eaque quidem aliquid labore!
			</p>
			<hr />
			<p>
				Lorem ipsum dolor sit amet consectetur <a href="javascript:void(0)" aria-label="This serves as an example link">adipisicing</a> elit. Consectetur, ipsum voluptatum, vero soluta ullam facere
				ipsam reiciendis dolorem modi earum eius assumenda doloribus. Fugiat dolore quasi exercitationem aut magnam aliquid repellat quidem odit architecto eius sint, eveniet <a
					href="javascript:void(0)"
					aria-label="This serves as an example link">praesentium</a
				>
				 repudiandae et voluptatibus consequuntur similique saepe non maiores excepturi blanditiis quas. Nobis?
			</p>
		</section>

		<section id="projects" class="projects">
			<h2>What do I do?</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
			<ul>
				<li><a href="javascript:void(0)" aria-label="This serves as an example link">Assumenda doloribus</a></li>
				<li><a href="javascript:void(0)" aria-label="This serves as an example link">Beatae earum</a></li>
				<li><a href="javascript:void(0)" aria-label="This serves as an example link">Aperiam fugiat</a></li>
				<li><a href="javascript:void(0)" aria-label="This serves as an example link">Eius sint</a></li>
			</ul>
		</section>
	</main>
</Layout>

<style>
	#hero {
		width: 100%;
		background-size: cover;
		margin: 2rem 0 4rem 0;
	}

	#hero h1 {
		margin: 0;
		font-size: 4rem;
		font-weight: 700;
		line-height: 56px;
	}

	#hero p {
		font-size: 26px;
	}

	main {
		line-height: 1.6;
		margin: auto;
		width: 45rem;
		padding: 0 1.5rem;
	}

	h2 {
		font-size: 2.3rem;
		font-weight: 600;
		margin: 0 0 0.8rem 0;
	}
</style>
