---
import Layout from "../layouts/MainLayout.astro";
import Social from "../components/Social.astro";
---

<Layout title="Hi, I'm Tim">
	<main>
		<div class="title">
			<h1>Hi, I'm <span class="text-gradient">Tim</span></h1>
			<p class="sub">
				I like
				<span class="typed text-gradient" data-typed-items="coding,gaming,movies,music,ezio editore"></span>
			</p>
		</div>

		<h2>About me</h2>
		<p>
			I'm a <span class="age">23</span>-year old developer, currently working at a company offering automated warehouse solutions. I am highly interested in modern web frameworks and toying with
			brand-new technologies. In my spare time, I like hanging out with my friends and playing video games.
		</p>
		<hr />
		<p>
			Send me an email at <a href="mailto:thisthistim@gmail.com">thisthistim@gmail.com</a> or contact me via any of my socials linked below if you're feeling like it! I will try to respond as soon
			as possible and I'm always open to new ideas and suggestions.
		</p>

		<div class="socials">
			<Social platform="simple-icons:discord" username="thistim" />
			<Social platform="simple-icons:github" username="itsthistim" href="https://github.com/itsthistim" />
			<Social platform="simple-icons:bluesky" username="@thistim.me" href="https://bsky.app/profile/thistim.me" />
			<Social platform="simple-icons:twitter" username="@itsthistim" href="https://twitter.com/itsthistim" />
			<Social platform="simple-icons:mastodon" username="@thistim" href="https://mastodon.social/@thistim" />
			<a class="hidden" rel="me" href="https://mastodon.social/@thistim">Mastodon</a>
		</div>

		<h2>About this site</h2>
		<p>
			This site is built with <a href="https://astro.build">Astro</a>. I made this site to learn proper web development and to have a place to put my projects. I have made the conscious decision
			to not use any CSS frameworks for now, but this might change in the future! The source code is available on <a href="https://github.com/itsthistim/thistim.me">GitHub</a>.
		</p>
	</main>

	<script>
		import { typeEffect } from "../lib/main.js";

		document.addEventListener("astro:page-load", () => {
			typeEffect();
		});

		let ageElement = document.querySelector(".age");
		let today = new Date();
		let birthday = new Date("2001-11-03");
		let age = today.getFullYear() - birthday.getFullYear();

		if (today.getMonth() < birthday.getMonth() || (today.getMonth() == birthday.getMonth() && today.getDate() < birthday.getDate())) {
			age--;
		}

		ageElement.textContent = age.toString();
	</script>
</Layout>

<style>
	main {
		line-height: 1.6;
		max-width: 950px;
		margin: auto;
		padding: 0 1.5rem;
	}

	p {
		margin: 0 0 0.8rem 0;
		font-size: 1.2rem;
	}

	h2 {
		margin: 1rem 0 0.8rem 0;
		font-weight: 600;
		font-size: 2.3rem;
	}

	.sub {
		font-size: 1.7rem;
		margin: 0;
	}

	.socials {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin-top: 2rem;
		margin-left: 10%;
	}

	.hidden {
		display: none;
	}
</style>
