---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
	<main>
		<section id="title" class="title center">
			<h1>Projects</h1>
		</section>
	</main>
</Layout>

<style></style>
