---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
	<main>
		<div class="title center">
			<h1>My <span class="text-gradient">Projects</span></h1>
			<!-- <p>I like <span class="typed text-gradient" data-typed-items="coding,gaming,movies,music"></span></p> -->
		</div>
	</main>
</Layout>

<style></style>
