---
import Button from "../components/Button.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Settings">
	<main>
		<div class="title">
			<h1><span class="text-gradient">Settings</span></h1>
			<h2>Coming Soon</h2>
			<h3>In the meantime, enjoy the colors this site uses!</h3>
		</div>

		<hr />

		<div style="display: flex; flex-wrap: wrap; gap: 1rem; justify-content: center; margin: 1rem 0;">
			<Button mode="button" href="/" type="primary" icon="ph:house">Primary</Button>
			<Button mode="button" href="/" type="secondary" icon="ph:gear">Secondary</Button>
			<Button mode="button" href="/" type="outline" icon="ph:bounding-box">Outline</Button>
			<Button mode="button" href="/" type="primary" icon="ph:prohibit-inset" disabled>Disabled</Button>
			<Button mode="button" href="/" type="primary" icon="svg-spinners:270-ring" disabled loading>Loading</Button>
			<Button mode="button" href="/" type="success" icon="ph:check-fat">Success</Button>
			<Button mode="button" href="/" type="warning" icon="ph:warning-diamond">Warning</Button>
			<Button mode="button" href="/" type="danger" icon="ph:warning">Danger</Button>
		</div>

		<hr />

		<div class="color-grid">
			<div class="color-item" style="background-color: var(--slate-10);">slate-10</div>
			<div class="color-item" style="background-color: var(--slate-17);">slate-17</div>
			<div class="color-item" style="background-color: var(--slate-20);">slate-20</div>
			<div class="color-item" style="background-color: var(--slate-30);">slate-30</div>
			<div class="color-item" style="background-color: var(--slate-40);">slate-40</div>
			<div class="color-item" style="background-color: var(--slate-50);">slate-50</div>
			<div class="color-item" style="background-color: var(--slate-60);">slate-60</div>
			<div class="color-item" style="background-color: var(--slate-70);">slate-70</div>
			<div class="color-item" style="background-color: var(--slate-80);">slate-80</div>
			<div class="color-item" style="background-color: var(--slate-90);">slate-90</div>
		</div>

		<div class="color-grid">
			<div class="color-item" style="background-color: var(--gray-10);">gray-10</div>
			<div class="color-item" style="background-color: var(--gray-20);">gray-20</div>
			<div class="color-item" style="background-color: var(--gray-30);">gray-30</div>
			<div class="color-item" style="background-color: var(--gray-40);">gray-40</div>
			<div class="color-item" style="background-color: var(--gray-50);">gray-50</div>
			<div class="color-item" style="background-color: var(--gray-60);">gray-60</div>
			<div class="color-item" style="background-color: var(--gray-70);">gray-70</div>
			<div class="color-item" style="background-color: var(--gray-80);">gray-80</div>
			<div class="color-item" style="background-color: var(--gray-90);">gray-90</div>
		</div>

		<div class="color-grid">
			<div class="color-item" style="background-color: var(--cyan-10);">cyan-10</div>
			<div class="color-item" style="background-color: var(--cyan-20);">cyan-20</div>
			<div class="color-item" style="background-color: var(--cyan-30);">cyan-30</div>
			<div class="color-item" style="background-color: var(--cyan-40);">cyan-40</div>
			<div class="color-item" style="background-color: var(--cyan-50);">cyan-50</div>
			<div class="color-item" style="background-color: var(--cyan-60);">cyan-60</div>
			<div class="color-item" style="background-color: var(--cyan-70);">cyan-70</div>
			<div class="color-item" style="background-color: var(--cyan-80);">cyan-80</div>
			<div class="color-item" style="background-color: var(--cyan-90);">cyan-90</div>
		</div>

		<div class="color-grid">
			<div class="color-item" style="background-color: var(--lavender-10);">lavender-10</div>
			<div class="color-item" style="background-color: var(--lavender-20);">lavender-20</div>
			<div class="color-item" style="background-color: var(--lavender-30);">lavender-30</div>
			<div class="color-item" style="background-color: var(--lavender-40);">lavender-40</div>
			<div class="color-item" style="background-color: var(--lavender-50);">lavender-50</div>
			<div class="color-item" style="background-color: var(--lavender-60);">lavender-60</div>
			<div class="color-item" style="background-color: var(--lavender-70);">lavender-70</div>
			<div class="color-item" style="background-color: var(--lavender-80);">lavender-80</div>
			<div class="color-item" style="background-color: var(--lavender-90);">lavender-90</div>
			<div class="color-item" style="background-color: var(--lavender-90);">lavender-90</div>
		</div>
	</main>
</Layout>

<style>
	main {
		line-height: 1.6;
		width: 950px;
		margin: auto;
		padding: 0 1.5rem 3rem;
	}

	.title {
		text-align: center;
		width: 100%;
		background-size: cover;
		padding: 3rem 0 0 0;
	}

	.color-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(110px, 110px));
		justify-content: center;
		margin: 0 0 3rem;
		gap: 1rem;
	}

	.color-item {
		width: 110px;
		height: 110px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		transition: transform 0.1s ease-in-out;
	}

	.color-item:hover {
		transform: scale(1.1);
	}
</style>
