---
import Layout from '../layouts/Layout.astro';
import SwatchGrid from '../components/SwatchGrid.astro';
---

<Layout title="Settings">
	<div class="settings-container">
		<div class="settings-content">
			<div class="title center">
				<h1><span class="text-gradient">Settings</span></h1>
			</div>
			<h2 class="center">Coming Soon</h2>
			<p class="center">In the meantime, enjoy the colors this site uses!</p>
		</div>
		<SwatchGrid />
	</main>

	<style>
		.settings-container {
			display: flex;
			flex-direction: column;
			justify-content: center;

			/**⚠️ DO NOT use auto ⚠️*/
			margin: 0 20vw 0 20vw;
		}
	</style>
</Layout>
