---
import { Icon } from 'astro-icon/components';

interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a class="button" href={href} aria-label="Back" transition:animate="slide">
	<Icon name="ph:arrow-left-bold" />
</a>

<style>
	.button {
		display: flex;
		position: fixed;
		top: 1rem;
		left: 1rem;
		justify-content: center;
		align-items: center;
		z-index: 100;
		background-color: var(--slate-10);
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		transition: transform 0.3s;
	}

	.button:hover {
		transform: translateX(-2px);
	}

	.button svg {
		color: white;
		width: 1.5rem;
		height: 1.5rem;
	}
</style>
