---
import { Icon } from 'astro-icon';
---

<script>
	const nav = document.querySelector('.navbar');
	const navLinks = nav.querySelectorAll('a');
	const currentURL = window.location.href;
	navLinks.forEach((link) => {
		if (link.href === currentURL) {
			link.classList.add('active');
		}
	});
</script>

<header>
	<nav class="navbar">
		<ul>
			<div>
				<li><a href="/"><Icon pack="bx" width="30px" name="bx-home" />Home</a></li>
				<li><a href="javascript:void(0)"><Icon pack="bx" width="30px" name="bx-code-block" />Projects</a></li>
				<li><a href="javascript:void(0)"><Icon pack="bx" width="30px" name="bx-envelope" />Contact</a></li>
				<hr class="separator" />
				<li><a href="javascript:void(0)"><Icon pack="bx" width="30px" name="bx-file-blank" />Settings</a></li>
			</div>
		</ul>
	</nav>
</header>

<style>
	header {
		background: var(--background-darker);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 180px;
		transition: all ease-in-out 0.5s;
		transition: all 0.5s;
		z-index: 9999;
		padding: 30px 0 0 0;
	}

	header * {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@media (max-width: 1199px) {
		header {
			left: -300px;
		}
	}

	.navbar a,
	.navbar a:focus {
		display: flex;
		align-items: center;
		color: #a8a9b4; /* --text-gray */
		padding: 12px 15px;
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
	}

	.navbar a:hover,
	.navbar .active,
	.navbar .active:focus,
	.navbar li:hover > a {
		text-decoration: none;
		color: #fff;
	}

	.navbar a:hover i,
	.navbar .active i,
	.navbar .active:focus i,
	.navbar li:hover > a i {
		color: #149ddd;
	}

	/* Mobile Navigation */
	.mobile-nav-toggle {
		position: fixed;
		right: 15px;
		top: 15px;
		z-index: 9998;
		border: 0;
		font-size: 24px;
		transition: all 0.4s;
		outline: none !important;
		background-color: #149ddd;
		color: #fff;
		width: 40px;
		height: 40px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
		border-radius: 50px;
		cursor: pointer;
	}

	.mobile-nav-active {
		overflow: hidden;
	}

	.mobile-nav-active header {
		left: 0;
	}
</style>
