---
import { Icon } from 'astro-icon';

interface Props {
	username: string;
	platform: string;
	href?: string;
}

const { username, platform, href } = Astro.props;
---

<a class="social" href={href}>
	<Icon class="platform-logo" name={platform} pack="simple-icons" />
	<p class="username">{username}</p>
</a>

<style>
	.social {
		background-image: linear-gradient(45deg, var(--cyan-500), var(--lavender-600));
		border-radius: 1rem;
		display: flex;
		align-items: center;
		width: 200px;
		transition: all 300ms;
		color: white;
		text-decoration-color: white;
	}

	.social:hover {
		transform: translateY(-2px);
	}

	.platform-logo {
		color: white;
		width: 2rem;
		height: 2rem;
		margin: 1rem;
	}

	.username {
		font-size: 1rem;
		font-weight: 500;
		margin: 1rem;
	}
</style>
