---
import { Icon } from 'astro-icon';

interface Props {
	username: string;
	platform: string;
	href?: string;
}

const { username, platform, href } = Astro.props;

const Item = href ? 'a' : 'div';
---

<Item class="social" href={href}>
	<Icon class="platform-logo" name={platform} pack="simple-icons" />
	<p class="username">{username}</p>
</Item>

<style>
	.social {
		background-image: linear-gradient(45deg, var(--cyan-50), var(--lavender-60));
		border-radius: 1rem;
		display: flex;
		align-items: center;
		width: 200px;
		color: white;
		text-decoration: none;
		transition: transform 300ms;
	}

	.social:hover {
		transform: translateY(-2px);
	}

	.platform-logo {
		color: white;
		width: 2rem;
		height: 2rem;
		margin: 1rem;
	}

	.username {
		font-size: 1rem;
		font-weight: 500;
		margin: 1rem;
	}

	@media (max-width: 567px) {
		.social {
			width: 100%;
		}
	}
</style>
