---
import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';

import projectsCodeImage from '../../content/img/projects_code.png';
import indexImage from '../../content/img/index.png';
import koalaImage from '../../content/img/koala_chat.png';
---

<Layout title="Projects">
	<main>
		<div class="title center">
			<h1>My <span class="text-gradient">Projects</span></h1>
			<!-- <p>I like <span class="typed text-gradient" data-typed-items="coding,gaming,movies,music"></span></p> -->
		</div>

		<div class="projects">
			<Card href="/projects" title="koala" sub="A Discord bot" src={koalaImage} />
			<Card href="/projects" title="thistim.me" sub="This website" src={projectsCodeImage} />
			<Card title="More Projects" sub="Coming Soon" src={indexImage} />
		</div>
	</main>
</Layout>

<style>
	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 0));
		grid-gap: 1rem;
		margin: 2rem 0;
		justify-content: center;
	}
</style>