---
import Layout from '../../layouts/MainLayout.astro';
import Card from '../../components/Card.astro';

import lookMortyImage from '../../assets//labs/look_morty/rick_and_morty.png';
import polyrhythm from '../../assets/labs/polyrhythm/polyrhythm.png';

let placeholder = 'https://via.placeholder.com/350x220';
---

<Layout title="Labs">
	<main>
		<section id="title" class="title">
			<h1>My <span class="text-gradient">Experiments</span></h1>
			<h3>Just some simple things I've been working on.</h3>
		</section>

		<div class="articles">
			<Card title="Look, Morty!" sub="" image={lookMortyImage} href="/labs/look_morty" />
			<Card title="Polyrhythm" sub="Ding, ding, ding!" image={polyrhythm} href="/labs/polyrhythm" />
			<Card title="Coming soon" sub="Work in progress" image={placeholder} />
		</div>
	</main>
</Layout>

<style>
	main {
		padding-bottom: 5rem;
		line-height: 1.6;
		max-width: 950px;
		margin: auto;
		padding: 0 1.5rem 3rem;
	}

	.articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
</style>
