---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BackButton from "../../components/BackButton.astro";
---

<BaseLayout title="Polyrhythm" transitions={false}>
	<BackButton href="/labs" />

	<p class="hint">Click anywhere to start the polyrhythm.</p>

	<div class="line"></div>

	<div class="path-1">
		<div class="circle"></div>
	</div>
	<div class="path-2">
		<div class="circle"></div>
	</div>
	<div class="path-3">
		<div class="circle"></div>
	</div>
	<div class="path-4">
		<div class="circle"></div>
	</div>
	<div class="path-5">
		<div class="circle"></div>
	</div>
	<div class="path-6">
		<div class="circle"></div>
	</div>
	<div class="path-7">
		<div class="circle"></div>
	</div>
	<div class="path-8">
		<div class="circle"></div>
	</div>

	<script lang="javascript" is:inline>
		function playSound(index) {
			const audioCtx = new (window.AudioContext || window.webkitAudioContext)();
			const osc = audioCtx.createOscillator();
			const gain = audioCtx.createGain();

			let frequencies = [262, 294, 330, 349, 392, 440, 494, 523];

			osc.frequency.value = frequencies[index];
			osc.type = "sine"; // sine, square, sawtooth, triangle
			gain.gain.setValueAtTime(0.3, audioCtx.currentTime);
			gain.gain.exponentialRampToValueAtTime(0.00001, audioCtx.currentTime + 0.5);

			osc.connect(gain);
			gain.connect(audioCtx.destination);
			osc.start();
			osc.stop(audioCtx.currentTime + 0.5);
		}

		const paths = document.querySelectorAll(".path-1, .path-2, .path-3, .path-4, .path-5, .path-6, .path-7, .path-8");
		const hint = document.querySelector(".hint");

		document.addEventListener("click", function handleClick() {
			hint.style.display = "none";

			paths.forEach((path, index) => {
				let rotationDuration = paths.length - index + 5;
				path.style.animation = `rotatePath ${rotationDuration}s linear infinite`;

				let audioIndex = paths.length - index - 1;

				setTimeout(() => {
					playSound(audioIndex);
				}, rotationDuration * 500);

				setTimeout(() => {
					playSound(audioIndex);
				}, rotationDuration * 1000);

				path.addEventListener("animationiteration", () => {
					setTimeout(() => {
						playSound(audioIndex);
					}, rotationDuration * 500);

					setTimeout(() => {
						playSound(audioIndex);
					}, rotationDuration * 1000);
				});
			});

			document.removeEventListener("click", handleClick);
		});
	</script>
</BaseLayout>

<style>
	body {
		background-color: var(--slate-20);
		overflow: hidden;
	}

	p {
		font-size: 20px;
		text-align: center;
		margin-top: 15px;
		color: var(--slate-80);
	}

	.line {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 900px;
		height: 2px;
		border-radius: 20px;
		background-color: var(--slate-80);
		transform: translate(-50%, -50%);
	}

	/* place circle on the most left side of the path circle */
	.circle {
		position: absolute;
		top: 50%;
		left: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: white;
		transform: translate(-50%, -50%) rotate(0deg);
		box-shadow: 0px 0px 1px 1px #0000001a;
	}

	.path-1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 800px;
		height: 800px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-2 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 700px;
		height: 700px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-3 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 600px;
		height: 600px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-4 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 500px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-5 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		height: 400px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-6 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-7 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.path-8 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid var(--slate-80);
		transform: translate(-50%, -50%) rotate(0deg);
	}

	@keyframes rotatePath {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}
		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
</style>
