---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	transitions?: boolean;
}

const { title, transitions = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{transitions && <ViewTransitions />}
		<meta charset="UTF-8" />
		<meta name="description" content="This is my personal website!" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />
		<link rel="icon" type="image/svg+xml" href="/favicon_T.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style></style>
