---
import '../styles/global.css';
import Sidebar from '../components/Sidebar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="This is my personal website!" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />
		<link rel="icon" type="image/svg+xml" href="/favicon_T.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Sidebar />
		<slot />
	</body>
</html>

<style is:global>
	body {
		margin: 0 auto;
		background-color: var(--slate-20);
		font-family: var(--text-font);
		color: var(--text-color);
	}

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--slate-60);
		border-radius: 8px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--slate-50);
	}

	::-webkit-scrollbar-track {
		background-color: var(--slate-20);
	}

	.center {
		text-align: center;
	}

	.title {
		width: 100%;
		background-size: cover;
		padding: 3rem 0 0 0;
	}

	.title h1 {
		margin: 0 0 1rem 0;
		font-size: 4rem;
		font-weight: 700;
		line-height: 56px;
	}

	.title p {
		font-size: 26px;
		margin: 0;
	}

	main {
		line-height: 1.6;
		max-width: 950px;
		margin: auto;
		padding: 0 1.5rem;
	}

	main p {
		margin: 0 0 0.8rem 0;
		font-size: 1.2rem;
	}

	main h2,
	main h3 {
		font-weight: 600;
		margin: 2rem 0 0.8rem 0;
	}

	main h2 {
		font-size: 2.3rem;
	}

	main h3 {
		font-size: 1.7rem;
	}

	hr {
		border: 0;
		height: 0.1px;
		width: 98%;
		background: var(--text-color);
		opacity: 0.2;
		margin: 2rem auto;
	}

	a {
		color: var(--link-color);
		text-decoration: var(--link-style);
	}

	a:hover,
	a:active {
		color: var(--link-color-hover);
		text-decoration: var(--link-style-hover);
	}

	code,
	.code {
		font-family: var(--code-font);
		color: var(--code-color);
		background: var(--code-background);
		border-radius: 0.25rem;
	}
</style>
